.carousel-images img {
  flex: auto;
  height: 50vh;
}

.nav-button {
  flex: 1 0 40%;
  max-width: 40%;
  text-align: center;
  /* box-sizing: border-box; */
}


.flex-container {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
}

.box {
  padding: 20px;
  margin: 10px;
}

.flex-box {
  flex: 1;
  padding: 20px;
  margin: 10px;
}

.notice-yellow {
  background: var(--accent-bg);
  border: 1px solid orange;
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
  text-align: justify;
}


table {
  width: 100%;
  border-collapse: collapse; /* Ensures no double borders */
}

td {
  padding: 8px;
  text-align: center;
  border: none; /* Removes both vertical and horizontal lines */
}


/* Navbar Styles */
nav {
  position: fixed; /* Stays fixed at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  background-color: grey;
  background-image: radial-gradient(circle, lightgrey, #333333);
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly; /* Even spacing between buttons */
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000; /* Ensures it stays on top */
  color: white;
}

nav a {
  background-color: black;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
}